<div class="row" *ngIf="vistaCentro" >
    <div class="col-lg-12">
        <!--Ingresos-->
        <div class="row" *ngIf="datosTerrenos">
            <div class="col-xs-12 col-xl-12 col-lg-12">
                <button (click)="subirArchivo.click();" class="btn btn-danger pull-right"><i class="fa fa-upload"></i> <i class="fa fa-file-excel"></i> Cargar Excel</button>
                <button (click)="obtenerPlantillaTerrenos();" class="btn btn-warning pull-right"><i class="fa fa-download"></i> <i class="fa fa-file-excel"></i> Exportar Plantilla </button>
                <button *ngIf="this.chksTerrenos.length > 0" (click)="borrarMultiplesTerrenos();" class="btn btn-danger-clasic pull-right"><i class="fa fa-times"></i> Borrar Multiples </button>
                <form [formGroup]="frmSolicitud" class="form-validate" (keydown.enter)="$event.preventDefault()" novalidate="">
                    <input #subirArchivo style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" (change)="importar_excel($event)"  formControlName="File" />
                </form>
                <br><br>
            </div>
            <div class="col-lg-12" >
                <div class="card mb-3">
                    <div class="card-header">
                        Terrenos Activos
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <h4> Parcela </h4>                                
                                <select  class="form-control" [(ngModel)]="parcelaFiltro" (change)="filtrarTerrenos();" >
                                    <option value="0">Todas</option>
                                    <option  *ngFor="let e of parcelas;" value="{{e.parcela}}">{{e.parcela}}</option>
                                </select>
                            </div>                                    
                            <div class="col-lg-3">
                                <h4> Lote </h4>                                
                                <select  class="form-control" [(ngModel)]="loteFiltro" (change)="filtrarTerrenos();" >
                                    <option value="0">Todos</option>
                                    <option  *ngFor="let e of lotes;" value="{{e.lote}}">{{e.lote}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3"> 
                                <h4> Estapa </h4>
                                <select  class="form-control" [(ngModel)]="etapaFiltro" (change)="filtrarTerrenos();" >
                                    <option value="0">Todas</option>
                                    <option  *ngFor="let e of etapas;" value="{{e.etapa}}">{{e.etapa}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <h4> Estatus </h4>
                                <select  class="form-control" [(ngModel)]="estatusFiltro" (change)="filtrarTerrenos();" >
                                    <option value="0">Todos</option>
                                    <option  *ngFor="let e of estatusTodos;" value="{{e.Estatus}}">{{e.Estatus}}</option>
                                </select>            
                            </div>                            
                            <div class="col-lg-12">
                                <br>
                            </div>  
                        </div>              
                        <app-datatables-general #datatableTerrenos *ngIf="datosTerrenos" [datosDatatable]="datosTerrenos" (delete)="borrarTerreno($event);" (edit)="editarTerreno($event);" (checks)="this.chksTerrenos = $event"></app-datatables-general>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>