<div class="row">
    <div class="col-xl-12 col-lg-12 col-xs-12">
        <div class="card mb-3">
            <div class="card-header bg-info">
                Nueva Cotización
                <label class="label-form pull-right" > 
                    <b *ngIf="costoTotal">Costo Total : $ {{costoTotal | number}}</b>
                    <b *ngIf="totalFinal">&nbsp;&nbsp;|&nbsp;&nbsp; Total Final Con Intereses : $ {{totalFinal | number}}</b>
                </label>
            </div>
            <div class="card-body ">
                <div class="col-lg-12">
                    <div id="cotizacion" class="row">
    <!--                    <div class="col-lg-3">
                            <img src="../../../../../../assets/images/logo_recibo.png" />
                        </div>
                        <div class="col-lg-9"></div>-->
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-form"> Superficie </label>
                                <input type="number" [(ngModel)]="superficie" (change)="calcularAmortizacion();" placeholder="1500" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="label-form"> $ Metro </label>
                                <input type="number" [(ngModel)]="precioMetro" (change)="calcularAmortizacion();" placeholder="140" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-form"> Enganche </label>
                                <input type="number" [(ngModel)]="enganche" (change)="calcularAmortizacion();" placeholder="10000" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="label-form"> Interes </label>
                                <input type="number" [(ngModel)]="interesAnual" (change)="calcularAmortizacion();" placeholder="18%" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="label-form"> Num. Pagos </label>
                                <input type="number" [(ngModel)]="pagosMensuales" (change)="calcularAmortizacion();" placeholder="72" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="label-form"> Primer Pago </label>
                                <input type="date" [(ngModel)]="fPrimeraMensualidad" (change)="calcularAmortizacion();" class="form-control">
                            </div>
                        </div>
    <!--                    <div class="col-lg-3"  *ngIf="costoTotal">
                            <div class="form-group">
                                <label class="label-form"> Costo Total </label><br>
                                <label class="label-form text-danger" *ngIf="costoTotal">{{costoTotal}}</label>
                                <input type="number" [(ngModel)]="costoTotal" (change)="calcularAmortizacion();" placeholder="140" class="form-control">
                            </div>
                        </div>-->
                        <div class="col-lg-3" >
                            <div class="form-group">
                                <label class="label-form"> Mensualidad </label>
                                <input type="number" [(ngModel)]="totalMensual" (change)="calcularAmortizacion();" placeholder="0" class="form-control" >
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group" *ngIf="cotizacionAnualidades">
                                <label class="label-form"> Primer Anualidad </label>
                                <input type="date" [(ngModel)]="fPrimeraAnualidad" (change)="calcularAmortizacion();" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group pull-right">
                                <label class="label-form"> <br> </label><br>
                                <button class="btn btn-info"  (click)="calcularAmortizacion(true);"> <i class="fa fa-calculator"> </i> Mensualidad </button>
                            </div>
                        </div>
                        <div class="col-lg-12"><br></div>
                        <div class="col-lg-6 " *ngIf="cotizacionMensualidades">
                            <div class="card mb-3">
                                <div class="card-header bg-info">
                                    1 Opcion con Mensualidades <b class="pull-right">Total: {{acumuladoMen | number}}</b>
                                </div>
                                <div class="card-body ">
                                    <app-datatables-general #datatableMensualidades *ngIf="this.cotizacionMensualidades" [datosDatatable]="this.cotizacionMensualidades" ></app-datatables-general>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 " *ngIf="cotizacionAnualidades">
                            <div class="card mb-3">
                                <div class="card-header bg-info">
                                    2 Opcion con Anualidades
                                </div>
                                <div class="card-body ">
                                    <app-datatables-general #datatableAnualidades *ngIf="this.cotizacionAnualidades" [datosDatatable]="this.cotizacionAnualidades" ></app-datatables-general>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12"><br></div>
                        <div class="col-lg-12"><br><button *ngIf="cotizacionMensualidades" class="btn btn-primary pull-right" (click)="guardarCotizacion();">Guardar cotización</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>