<div class="row">
    <div class="col-xs-12">
        <!--<ngb-tabset>
            <ngb-tab title="Simple">
                <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
                <ng-template ngbTabContent>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Disabled" [disabled]="true">
                <ng-template ngbTabContent>
                <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>        -->
    </div>
    <div class="col-xl-12 col-lg-12 col-xs-12" >
        <div class="card mb-3">
            <div class="card-header bg-secondary" >
                Clientes
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <b>Buscar por filtros de terreno en los clientes, (El terreno del cliente contiene los datos: )</b>
                    </div>
                    <div class="col-lg-3">
                        <h4> Parcela </h4>
                        <select  class="form-control" [(ngModel)]="parcelaFiltro" (change)="filtrarTerrenos();" >
                            <option value="0">Todas</option>
                            <option  *ngFor="let e of parcelas;" value="{{e.parcela}}">{{e.parcela}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <h4> Lote </h4>
                        <select  class="form-control" [(ngModel)]="loteFiltro" (change)="filtrarTerrenos();" >
                            <option value="0">Todos</option>
                            <option  *ngFor="let e of lotes;" value="{{e.lote}}">{{e.lote}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3"> 
                        <h4> Estapa </h4>
                        <select  class="form-control" [(ngModel)]="etapaFiltro" (change)="filtrarTerrenos();" >
                            <option value="0">Todas</option>
                            <option  *ngFor="let e of etapas;" value="{{e.etapa}}">{{e.etapa}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3"> 
                        <h4> Estatus </h4>
                        <select  class="form-control" [(ngModel)]="estatusFiltro" (change)="filtrarTerrenos();" >
                            <option value="0">Todos</option>
                            <option  *ngFor="let e of estatusTodos;" value="{{e.Estatus}}">{{e.Estatus}}</option>
                        </select>
                    </div>                 
                    <div class="col-lg-12">    
                    <br>
                    </div>
                </div>
                <div class="row text-center" *ngIf="terrenos">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <button (click)="obtenerClientesActivos();" class="btn btn-dark"><i class="fa fa-users"></i> Ver Todos  </button>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="form-group"> 
                            <input type="text" [(ngModel)]="textoCliente" (keyup)="filtrarTerrenos();"  class="form-control" />
                            <!-- <input id="typeahead-format" (keyup)="campoNombre();"  placeholder="Encontrar por nombre del cliente:" type="text" class="form-control" [(ngModel)]="nombreCliente" [ngbTypeahead]="filtrarCliente" (selectItem)="detalleCliente($event.item);" [resultFormatter]="formatter" /> -->
                        </div>
                        <br>
                    </div>
                    <div class="col-xs-12" *ngIf="clienteDetalles.IdCliente || datosDetalle">
                        <ngb-tabset>
                            <ngb-tab>
                                <ng-template ngbTabTitle ><b>Datos Cliente</b> </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row" >
<!--                                    <div class="col-lg-12">
                                            <button (click)="estadosCuenta();" class="btn btn-success" ><i class="fa fa-credit-card"></i> Detalle Cliente</button>
                                        </div>-->
                                        <div class="col-lg-12" *ngIf="!datosDetalle">
                                            <div class="card-body">
                                                <div class="row" *ngIf="clienteDetalles.IdCliente">
                                                    <div class="col-lg-12">
                                                        <button class="btn btn-warning pull-right" (click)="EditarCliente();"><i class="fa fa-pencil"></i> | Editar Cliente</button>
                                                        <br><br>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card card-default">
                                                            <div class="card-header" style="color:#000 !important; ">
                                                                <h4>Saldos Cliente</h4>
                                                            </div>
                                                             <div class="list-group">
                                                                    <div class="list-group-item text-left" *ngIf="clienteDetalles.Credito_original > 0">
                                                                    <b><i class="fa fa-dollar"></i> Crédito Original:</b>
                                                                    $ {{clienteDetalles.Credito_original | number}}
                                                                </div>
                                                                <div class="list-group-item text-left text-primary" *ngIf="clienteDetalles.Saldo_adeudo > 0">
                                                                    <b><i class="fa fa-money"></i> Saldo Enganche:</b>
                                                                    $ {{clienteDetalles.Saldo_adeudo | number}}
                                                                </div>
                                                                <div class="list-group-item text-left text-primary" *ngIf="clienteDetalles.Saldo_credito > 0">
                                                                    <b><i class="fa fa-credit-card"></i> Saldo Pendiente:</b>
                                                                    $ {{clienteDetalles.Saldo_credito | number}}
                                                                </div>
                                                                <div class="list-group-item text-left text-danger" *ngIf="clienteDetalles.Saldo_mantenimiento > 0">
                                                                    <b><i class="fa fa-home"></i> Saldo Mantenimiento:</b>
                                                                    $ {{clienteDetalles.Saldo_mantenimiento | number}}
                                                                </div>
                                                                <div class="list-group-item text-left text-info" *ngIf="clienteDetalles.Saldo_agua > 0">
                                                                    <b><i class="fa fa-dollar"></i> Saldo Agua:</b>
                                                                    $ {{clienteDetalles.Saldo_agua | number}}
                                                                </div>
                                                                <div class="list-group-item text-left text-warning" *ngIf="clienteDetalles.Saldo_certificado > 0">
                                                                    <b><i class="fa fa-address-card"></i> Saldo Certificado:</b>
                                                                    $ {{clienteDetalles.Saldo_certificado | number}}
                                                                </div>
                                                                <div class="list-group-item text-success" *ngIf="clienteDetalles.Saldo_total > 0">
                                                                    <b><i class="fa fa-dollar"></i> Saldo Total:</b>
                                                                    $ {{clienteDetalles.Saldo_total | number}}
                                                                </div>                                        
                                                                <div class="list-group-item text-success" >
                                                                    <b><i class="fa fa-dollar"></i> Proximo Mantenimiento:</b>
                                                                    2020-01-01 | $ {{clienteDetalles.Monto_mantenimiento | number}}
                                                                </div>                                                                
                                                             </div>
                                                            <!-- <div class="card-footer"><a class="text-sm" href="#">Load more</a></div> -->
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8" >
                                                        <div class="card card-default">
                                                            <div class="card-header" style="color:#000 !important; ">
                                                                <h4>Datos Basicos </h4>
                                                            </div>
                                                            <div class="card-body row text-left">
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> #Cliente:</label>
                                                                        {{ clienteDetalles.Codigo}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-8">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Nombre : </label>
                                                                        {{ clienteDetalles.Nombre}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Correo : </label>
                                                                        {{ clienteDetalles.Correo}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Fecha Nacimiento :</label>
                                                                        {{ clienteDetalles.Fecha_nacimiento}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> IFE :</label>
                                                                        {{ clienteDetalles.Num_ife}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Origen :</label>
                                                                        {{ clienteDetalles.Origen}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Teléfono :</label>
                                                                        {{ clienteDetalles.Telefono}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Direccion :</label>
                                                                        {{ clienteDetalles.Direccion}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Monto Mantenimiento Actual :</label>
                                                                        {{ clienteDetalles.Monto_mantenimiento | number}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Periodo de cobro :</label>
                                                                        {{ clienteDetalles.Periodo_cobro}} Meses
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Referencia :</label>
                                                                        {{ clienteDetalles.Referencia_1}}
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label class="label-form"> Cel Referencia :</label>
                                                                        {{ clienteDetalles.TelRef_1}}
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <br>
                                                        <div class="card card-default">
                                                            <div class="card-header" style="color:#000 !important; ">
                                                                Terrenos y Contratos del cliente
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="col-lg-12">
                                                                    <b>Parcelas:</b> {{clienteDetalles.Parcela}}
                                                                    <b>Lotes:</b> {{clienteDetalles.Lote}}
                                                                    <b>Etapas:</b> {{clienteDetalles.Etapa}}
                                                                    <b>Estatus:</b> {{clienteDetalles.Estado}}
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-lg-12" *ngIf="terrenoDatos" >
                                                                            <div class="row">
                                                                                <div class="col-lg-12"><h5><b>Datos del terreno </b></h5></div>
                                                                                <hr>
                                                                                <div class="col-lg-6">
                                                                                    <div class="form-group">
                                                                                        <label class="label-form"> Dueño Original:</label>
                                                                                        {{terrenoDatos.Pertenece}}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-6">
                                                                                    <div class="form-group">
                                                                                        <label class="label-form"> Superficie :</label>
                                                                                        {{ terrenoDatos.Superficie | number}}
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="form-group">
                                                                                        <label class="label-form"> Datos sección :</label>
                                                                                        Lote: {{terrenoDatos.lote}} - Etapa: {{terrenoDatos.etapa}} - Parcela: {{terrenoDatos.parcela}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <hr>
                                                                        </div>                                                                        
                                                                        <div class="col-lg-6">
                                                                            <div class="form-group">
                                                                                <label class="label-form"> Selecciona Terreno </label>
                                                                                <select *ngIf="clienteDetalles.Terrenos" class="form-control" (change)="obtenerContratoTerreno();" [(ngModel)]="IdTerrenoContrato" >
                                                                                    <option value="0">Selecciona el terreno</option>
                                                                                    <option  *ngFor=" let ter of clienteDetalles.Terrenos" value="{{ter.IdTerreno}}" > Lote: {{ter.lote}} - Etapa: {{ter.etapa}} - Parcela: {{ter.parcela}}</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-6"><br><button *ngIf="contenidoContrato" class="btn btn-warning" (click)="enviarContratoCorreo();">Enviar contrato por correo</button></div>
                                                                        <div class="col-xl-12 col-lg-12 col-xs-12" *ngIf="contenidoContrato">
                                                                            <div class="card mb-3">
                                                                                <div class="card-header "  style="color: #000 !important;">
                                                                                    Contrato de nuevo cliente
                                                                                </div>
                                                                                <div class="card-body" *ngIf="contenidoContrato" [froalaEditor] [(froalaModel)]="contenidoContrato"></div>
                                                                                <div class="col-lg-12">
                                                                                    <div class="form-group">
                                                                                        <label class="label-form"> &nbsp;</label><br>
                                                                                        <button class="btn btn-primary pull-right" (click)="guardarContrato();">Guardar Contrato</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12" *ngIf="datosDetalle">
                                            <br>
                                            <button class="btn btn-warning pull-right" (click)="this.clienteDetalles = datosDetalle; this.datosDetalle = false;"> Regresar </button>
                                            <br>
                                            <br>
                                            <app-formulario-clientes-separado [datosCliente]="datosDetalle" (vista)=" this.clienteDetalles = this.datosDetalle = false; obtenerClientesActivos();" ></app-formulario-clientes-separado>
                                        </div>   
                                    </div>                                 
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Financiamiento</b> </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row" >
<!--                                        <div class="col-lg-12">
                                            <button class="btn btn-danger pull-right" (click)="confirmarModificacionCotizacion();">Modificar Cotización</button>
                                            <hr><br>
                                        </div>-->
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="label-form"> Selecciona Terreno </label>
                                                <select *ngIf="clienteDetalles.Terrenos" class="form-control" (change)="filtrarTerrenosMensualidad();" [(ngModel)]="idTerrenoMensualidad" >
                                                    <option value="0">Selecciona el terreno</option>
                                                    <option  *ngFor=" let ter of clienteDetalles.Terrenos" value="{{ter.IdTerreno}}" > Lote: {{ter.lote}} - Etapa: {{ter.etapa}} - Terreno: {{ter.parcela}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6"></div>
                                        <div class="col-lg-6" *ngFor=" let ter of clienteDetalles.Terrenos" > 
                                            <div class="card mb-3" *ngIf="!ter.TerrenoMostrar">
                                                <div class="card-header bg-warning">
                                                    Abonos Lote: {{ter.lote}}, Etapa: {{ter.etapa}}, Parcela: {{ter.parcela}}
                                                </div>
                                                <div class="card-body ">
                                                    <app-datatables-general  *ngIf="ter.Mensualidades" [datosDatatable]="ter.Mensualidades" ></app-datatables-general>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="anualidadesVista">
                                        <div class="col-lg-6" *ngFor=" let ter of clienteDetalles.Terrenos"> 
                                            <div class="card mb-3">
                                                <div class="card-header bg-info">
                                                    Abonos Lote: {{ter.lote}}, Etapa: {{ter.etapa}}, Parcela: {{ter.parcela}}
                                                </div>
                                                <div class="card-body ">
                                                    <app-datatables-general  *ngIf="ter.Anualidades" [datosDatatable]="ter.Anualidades" ></app-datatables-general>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Mantenimientos</b> </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row" >
<!--                                        <div class="col-lg-12"><h3 class="text-center"> Actualizar Datos Mantenimiento </h3><hr></div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="label-form"> Selecciona Terreno </label>
                                                <select *ngIf="clienteDetalles.Terrenos" class="form-control" (change)="cambiarTazasMantenimiento();" [(ngModel)]="IdTerrenoMantenimiento" >
                                                    <option value="0">Selecciona el terreno</option>
                                                    <option  *ngFor=" let ter of clienteDetalles.Terrenos" value="{{ter.IdTerreno}}" > Lote: {{ter.lote}} - Etapa: {{ter.etapa}} - Terreno: {{ter.parcela}}</option>
                                                </select>
                                            </div>
                                        </div>-->
                                        <div class="col-lg-12">
                                            <div class="col-lg-12"><h3 class="text-center"> Mantenimientos abonados </h3><hr></div>
                                        </div>
                                        <div class="col-lg-6" > 
                                            <div class="card mb-3">
                                                <div class="card-header bg-danger">
                                                    Mantenimientos Detalle
                                                </div>
                                                <div class="card-body ">
                                                    <app-datatables-general  *ngIf="mantenimientosTodos" [datosDatatable]="mantenimientosTodos" ></app-datatables-general>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </ng-template>
                            </ngb-tab>
<!--                            <ngb-tab>
                                <ng-template ngbTabTitle><b>Adeudos</b> </ng-template>
                                <ng-template ngbTabContent>
                                </ng-template>
                            </ngb-tab>                            -->
                        </ngb-tabset>    
                    </div>
                </div>
                <div class="row" *ngIf="clientesTodos && !clienteDetalles.IdCliente">
                    <div class="col-lg-12">
                        <table class="table table-hover table-stripped" *ngIf="clientesTodos">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Terreno</th>
                                    <th>Lote</th>
                                    <th>Etapa</th>
                                    <th class="text-center"><i class="fa fa-gear"></i></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let cli of clientesTodos | paginate: { itemsPerPage: 10, currentPage: this.datosPage }" >
                                    <td>{{cli.Codigo}}</td>
                                    <td>{{cli.Nombre}}</td>
                                    <td>{{cli.Parcela}}</td>
                                    <td>{{cli.Lote}}</td>
                                    <td >{{cli.Etapa}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-success" (click)="nuevaVenta(cli)" title="Abono Terreno"><i class="fa fa-plus-circle"></i></button> &nbsp;
                                        <button class="btn btn-danger" (click)="nuevoMantenimiento(cli)" title="Abono Mantenimiento"><i class="fa fa-plus-circle"></i></button>&nbsp;
    <!--                                    <button class="btn btn-info" (click)="nuevaVenta(cli)" title="Abono Cerfiticado"><i class="fa fa-plus-circle"></i></button>&nbsp;-->
                                        <button class="btn btn-primary" (click)="detalleCliente(cli)"><i class="fa fa-pencil"></i> Detalles</button>&nbsp;
                                        <button class="btn btn-danger" style="background: #c00 !important; " (click)="confirmarBorrarCliente(cli)" title="Borrar Cliente"><i class="fa fa-times"></i></button>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right" >
                            <pagination-controls (pageChange)="this.datosPage = $event" ></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        
