<div [@routerTransition]>
    <app-page-header [heading]="'Catalogos'" [icon]="'fa-file'"></app-page-header>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'primary'" [icon]="'fa-map'" [label]="'Catalogo de Terrenos'" (event)="verCatalogoTerrenos($event);"></app-stat>
        </div>
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'secondary'" [icon]="'fa-users'" [label]="'Catalogo de Clientes'" (event)="verCatalogoClientes($event);"></app-stat>
        </div>
        <div class="col-xs-12 col-lg-4">
            <app-stat [bgClass]="'info'" [icon]="'fa-book'" [label]="'Datos Cliente'" (event)="verDatosTodos($event);"></app-stat>
        </div>        
    </div>
    <hr />
    <!--Catalog de terrenos-->
    <div class="row" *ngIf="catalogoTerrenos">
        <div class="col-lg-12">
            <app-catalogos-terrenos [@routerTransition]></app-catalogos-terrenos>
        </div>
    </div>
    <!--Catalog de clientes-->
    <div class="row" *ngIf="catalogoCliente">
        <div class="col-lg-12" [@routerTransition]>
            <app-catalogo-clientes (vista)="catalogoClientes($event);" (nuevaOperacion)="nueva_operacion($event);" ></app-catalogo-clientes>
        </div>
    </div>
    <!--Catalog de clientes-->
    <div class="row" *ngIf="datosTodos && !detalleCliente && !datosDetalle">
        <div class="col-lg-12" [@routerTransition] style="overflow: auto;">
            <table class="table table-striped  table-hover">
                <tr>
                    <th>Cliente</th>
                    <th># Terrenos</th>
                    <th>Terrenos</th>
                    <th>
                        <b style="cursor:pointer;" (click)="cambiarOrden('Estatus');">
                            Estatus
                            <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Estatus:''}}"></i>
                        </b>                        
                    </th>
                    <th>
                        <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_credito');">
                            Saldo del credito
                            <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_credito:''}}"></i>
                        </b>
                    </th>
                    <th>
                        <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_certificado');">
                            Saldo del Certificado
                            <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_certificado:''}}"></i>
                        </b>
                    </th>
                    <th>
                        <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_mantenimiento');">
                            Saldo de Mantenimiento
                            <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_mantenimiento:''}}"></i>
                        </b>
                    </th>
                    <th>
                        <b style="cursor:pointer;" (click)="cambiarOrden('Saldo_agua');">
                            Saldo de Agua
                            <i  class="fa fa-caret-{{(datosTodos.Ordenes)?datosTodos.Ordenes.Saldo_agua:''}}"></i>
                        </b>
                    </th>
                    <th>Ajustes</th>
                </tr>
                <tr *ngFor="let d of datosTodos.Datos">
                    <td>{{d.Nombre}}</td>
                    <td>{{d.Terrenos.length}}</td>
                    <td>{{d.InfoTerrenos}}</td>
                    <td>{{d.Estatus}}</td>
                    <td>$ {{d.Saldo_credito |number }}</td>
                    <td>$ {{d.Saldo_certificado | number}} </td>
                    <td>$ {{d.Saldo_mantenimiento |number }}</td>
                    <td>$ {{d.Saldo_agua | number}} </td>
                    <td>
                        <button class="btn btn-primary" style="color: #fff ;" (click)="this.detalleCliente = false; this.datosDetalle = d; ;"> Procesar | <i class="fa fa-arrow-right"></i> </button>
                        <button class="btn btn-info" style="color: #fff ;" (click)="this.datosCliente = false; this.detalleCliente = {Opciones:{Editar:true, Eliminar: true},Datos:d.Terrenos};"> Editar | <i class="fa fa-edit"></i></button>
                    </td>
                </tr>
            </table>
<!--            <app-datatables-general #datatableDatosTodos *ngIf="datosTodos" [datosDatatable]="datosTodos"  ></app-datatables-general>-->
        </div>
    </div>
    <div class="row" *ngIf="datosDetalle || detalleCliente">
        <div class="col-lg-12">
            <button class="btn btn-primary pull-right" (click)="verDatosTodos({});" >Ver Todos</button>
<!--            <button class="btn btn-primary pull-right" (click)="this.datosDetalle = false; this.detalleCliente = false;" >Ver Todos</button>-->
            <br><br>
        </div>
    </div>
    <div class="row" *ngIf="datosDetalle && !detalleCliente">
        <div class="col-xs-12" style="overflow: auto;">
            <app-formulario-clientes [datosCliente]="datosDetalle" ></app-formulario-clientes>
        </div>
    </div>
    <div class="row" *ngIf="detalleCliente && !datosDetalle">
        <div class="col-lg-12" *ngIf="checksTerrenos.length > 0">
            <button class="btn btn-danger pull-right" (click)="confirmarEliminarRegistros();">Eliminar</button>
            <button class="btn btn-warning pull-right" (click)="verEditarCampos();">Editar</button>
        </div>
        <div class="col-lg-12" style="overflow: auto;">
            <app-datatables-general #datatableDetalles *ngIf="detalleCliente" (checks)="asignarChecks($event);" (edit)="editarRegistro($event);" (delete)="eliminarRegistro($event);" [datosDatatable]="detalleCliente" ></app-datatables-general>
        </div>
    </div>
    <div >
        <!--Venta regular-->
        <app-venta *ngIf="ingresoNuevo" [datosVenta]="datosVenta"  [@routerTransition]></app-venta>
        <!--Catalogo Clientes-->
        <app-catalogo-clientes *ngIf="clientesCatalogos" (vista)="catalogoClientes($event);" (nuevaOperacion)="nueva_operacion($event);" [@routerTransition]></app-catalogo-clientes>
        <!--Mantenimiento-->
        <app-mantenimiento *ngIf="mantenimientoNuevo" [datosMantenimiento]="datosMantenimiento" [@routerTransition]></app-mantenimiento>
        <!--Ingresos Extra-->
        <app-ingresos-extra *ngIf="ingresosExtraNuevo" [datosIngresosExtras]="datosIngresosExtra"  [@routerTransition]></app-ingresos-extra>
    </div>

</div>
