.bg-primary{
    background-color: #10798D !important ;
}
.bg-info{
    background-color:#359B83 !important;
}
.bg-warning{
    background-color:#2A8901 !important;
}
.bg-danger{
    background-color:#955006 !important;
}
.bg-secondary{
    background-color:#232E5C !important;
}
.btn-info{
    background-color:#359B83 !important;
}